<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="FolderPath" value="\\ncsusnasmid01a.na.jnj.com\prd_images\"/>
    <add key="ExcelPath" value="C:\Users\schoud25\Desktop"/>
  </appSettings>
</configuration>